{% extends 'email/layout/layout.twig' %}
{% block content %}
    <h1 style="margin: 0 0 20px; font-size: 20px;">Poštovani/a {{ data.bname }}, </h1>
    <p>uspešno ste poslali objavu na inmemoriam.blic.rs i Vaša kartica je zadužena za 45,000.00 din.</p>
    <p>Slede podaci o transakciji za Vašu referencu.</p>

    <p>Broj reference: {{ data.refnumber }}</p>
    <p>Broj odobrenja: {{ data.approval_code }}</p>
    <p>Broj porudžbine: {{ data.oid }}</p>
    <p>Datum i vreme: {{ data.txndatetime }}</p>
    <p>Status transakcije: Odobreno</p>
    <p>Iznos: 45,000.00 din</p>

    <p>Ime kupca: {{ data.bname }}</p>
    <p>Ime prodavca: RINGIER AXEL SPRINGER</p>
    <p>Adresa: Kosovska 10, 11000 Beograd</p>
    <p>MB: 17134990</p>
    <p>PIB: 100000889</p>

    <p>Vaša objava sada čeka odobravanje, a ukoliko ste poslali objavu nakon 16:00, biće objavljena najranije narednog radnog dana.</p>

{% endblock %}